.env
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.scannerwork
nosetests.xml
coverage.xml
*,cover
cover
.pytest_cache

# PyBuilder
target/

# Bolt
data/