slack_bolt==1.23.0
python_dotenv==1.1.0
gunicorn==23.0.0
flask==3.1.0
requests==2.32.3
pyjwt==2.10.1
gql==3.5.2
requests-toolbelt==1.0.0
certifi>=2025.1.31 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=79.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.6 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.10 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.9.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.21.0 # not directly required, pinned by Snyk to avoid a vulnerability