slack_bolt==1.20.0
python_dotenv==1.0.1
gunicorn==23.0.0
flask==3.0.3
requests==2.32.3
pyjwt==2.9.0
gql==3.5.0
requests-toolbelt==1.0.0
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=72.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.20.0 # not directly required, pinned by Snyk to avoid a vulnerability